<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Completed Race Details</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/drivers_form.css">
  </head>
  <body> 
    <header>
      <div class="navbar-brand-container">
          <a href="/" class="navbar-brand">Formulo 1</a>
      </div>
      <nav>
        <ul class="nav-links">
            <li>
                <a  id="nav-races" href="/races" class="nav-links">Races</a>
            </li>
            <li>
                <a id="nav-drivers" href="/drivers" class="nav-links">Drivers</a>
            </li>
            <li>
                <a id="nav-teams" href="/teams" class="nav-links">Teams</a>
            </li>
        </ul>
      </nav>
    </header>
    <div class="page">
      <div class="sidebar">
        <div class="sidebar-header">
          <a href="/" class="custom-link"><h1>Formulo 1</h1></a>
        </div>
        <div class="sidebar-body">
          <nav>
            <ul class="navigation-list">
              <p>Statistics</p>
              <li id="nav-races" class="navigation-list-item">
                <a href="/races" class="navigation-link">
                  <div class="row">
                    <div class="col-3">
                      <i class="fa-solid fa-flag-checkered"></i>
                    </div>
                    <div class="col-7">
                      Races
                    </div>
                  </div>
                </a>
              </li>
              <li id="nav-drivers" class="navigation-list-item">
                <a href = "/drivers" class="navigation-link">
                  <div class="row">
                    <div class="col-3">
                      <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="col-7">
                      Drivers
                    </div>
                  </div>
                </a>
              </li>
              <li id="nav-teams" class="navigation-list-item">
                <a href = "/teams" class="navigation-link">
                  <div class="row">
                    <div class="col-3">
                      <i class="fas fa-hands-helping"></i>
                    </div>
                    <div class="col-7">
                      Teams
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="content">
        <div class="navigation-bar-container">
          <div class="navigation-bar" id="sidebarBar">
            <button id="sidebarToggle" class="btn sidebarToggle">
              <i class="fas fa-bars"></i>
            </button>
            <div class="nav-countdown-container">
              <div class="countdown-wrapper">
                <p>{{ next_race_dict.RaceName }}: <span id="countdown2"></span></p>
              </div>
            </div>  
          </div>        
        </div>
        <div class="driver-card">
          <h1 class="header"> {{ drivers_image_dict.DriverName }}</h1>
        </div>
        <div class="championship-position">
          <div class="title-container">
            <h1 class="font"><span class="fas fa-medal"></span> Championship Position</h1>
          </div>
          <div class="driver-info-container">
            <img src="{{ drivers_image_dict.ImagePath }}" class="driver-image">
            <h1>P{{ championship_position_dict.Position }}</h1>
          </div>
        </div>
        <div class="driver-details-container">   
          <div class="title-container">
            <h1 class="font"><span class="fas fa-clock"></span> Track Record</h1>
          </div>         
          <div class="driver-details">
            <div class="plotly-graph-container">
              {{ combined_graph_html | safe }}
            </div>
            <div class="plotly-graph-container">
              {{ fig_pie_html | safe }}
            </div>
          </div>       
        </div> 
        <div class="standings-container">
          <div class="standings">
            <h2 class="font">Season Performance</Details></h2>
            <table>
                <thead>
                    <tr>
                        <th>ROUND</th>
                        <th>RACE</th>
                        <th>TEAM</th>
                        <th>POSITION</th>
                        <th>POINTS</th>
                        <th>STATUS</th>
                        <th>WIN(S)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in driver_form_dict %}
                    <tr>
                        <td>{{ entry['Round'] }}</td>
                        <td>{{ entry['RaceName'] }}</td>
                        <td>{{ entry['Team'] }}</td>
                        <td>{{ entry['Position'] }}</td>
                        <td>{{ entry['Points'] }}</td>
                        <td>{{ entry['Status'] }}</td>
                        <td>{{ entry['Wins'] }}</td>
                    </tr>
                    {% endfor %}
                 </tbody>
             </table>
          </div>
        </div>
        <div class="footer">
          <p>&copy; 2023 Zakariye's Project</p>
        </div> 
      </div>
    </div>
    <script>
      var datetimeString = "{{ next_race_dict.Datetime }}";
  
      var countDownDate = new Date(datetimeString).getTime();
  
      var x = setInterval(function() {
        var now = new Date().getTime();
  
        var timeleft = countDownDate - now;
  
        // time calculations for days, hours, minutes, and seconds
        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
  
        document.getElementById("countdown2").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
        if (timeleft < 0) {
          clearInterval(x);
          document.getElementById("countdown2").innerHTML = "";
        }
      }, 1000);
    </script>
    <script>
      // get the current page URL
      const currentPagePath = window.location.pathname;
  
      // get the navigation item elements
      const racesNavItem = document.getElementById("nav-races");
      const driversNavItem = document.getElementById("nav-drivers");
      const teamsNavItem = document.getElementById("nav-teams");
  
      // check if the current page matches each navigation item and add the "active" class
      if (currentPagePath.startsWith("/races")) {
        racesNavItem.classList.add("active");
      } else if (currentPagePath.startsWith("/drivers")) {
        driversNavItem.classList.add("active");
      } else if (currentPagePath.startsWith("/teams")) {
        teamsNavItem.classList.add("active");
      }
    </script>
    <script src="../static/js/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>