<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Completed Race Details</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/teams_form.css">
  </head>
  <body> 
    <header>
      <div class="navbar-brand-container">
          <a href="/" class="navbar-brand">Formulo 1</a>
      </div>
      <nav>
        <ul class="nav-links">
            <li>
                <a class="navigation-list-item nav-races" href="/races">Races</a>
            </li>
            <li>
                <a class="navigation-list-item nav-drivers" href="/drivers">Drivers</a>
            </li>
            <li>
                <a class="navigation-list-item nav-teams" href="/teams">Teams</a>
            </li>
        </ul>
      </nav>
    </header>
    <div class="page">
      <div class="sidebar">
        <div class="sidebar-header">
          <a href="/" class="custom-link"><h1>Formulo 1</h1></a>
        </div>
        <div class="sidebar-body">
          <nav>
            <ul class="navigation-list">
              <p>Statistics</p>
              <li class="navigation-list-item nav-races">
                <a href="/races" class="navigation-link">
                  <div class="row">
                    <div class="col-3">
                      <i class="fa-solid fa-flag-checkered"></i>
                    </div>
                    <div class="col-7">
                      Races
                    </div>
                  </div>
                </a>
              </li>
              <li class="navigation-list-item nav-drivers">
                <a href = "/drivers" class="navigation-link">
                  <div class="row">
                    <div class="col-3">
                      <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="col-7">
                      Drivers
                    </div>
                  </div>
                </a>
              </li>
              <li class="navigation-list-item nav-teams">
                <a href = "/teams" class="navigation-link">
                  <div class="row">
                    <div class="col-3">
                      <i class="fas fa-hands-helping"></i>
                    </div>
                    <div class="col-7">
                      Teams
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="content">
        <div class="navigation-bar-container">
          <div class="navigation-bar" id="sidebarBar">
            <button id="sidebarToggle" class="btn sidebarToggle">
              <i class="fas fa-bars"></i>
            </button>
            <div class="nav-countdown-container">
              <div class="countdown-wrapper">
                <p>{{ next_race_dict.RaceName }}: <span id="countdown2"></span></p>
              </div>
            </div>  
          </div>        
        </div>
        <div class="team-card">
          <h1 class="header"> {{ official_teams_image_dict.TeamName }}</h1>
        </div>
        <div class="top-container">
            <div class="championship-position">
              <div class="title-container">
                <h1 class="font"><span class="fas fa-medal"></span> Championship Position</h1>
              </div>
              <div class="team-info-container">
                <img src="{{ official_teams_image_dict.ImagePath }}" class="team-image">
                  <div class="team-details">
                    <h1>P{{ championship_position_dict.Position }}</h1>
                  </div>
              </div>
            </div> 
            <div class="lineup">
              <div class="title-container">
                <h1 class="font"><span class="fa-solid fa-user-group"></span> Driver Lineup</h1>
              </div>
              <div class="team-info-container">
                <div class="driver-lineup">
                  <div class="driver-container">
                    <img src="{{ drivers1_image_dict.ImagePath }}" class="driver-lineup-image">
                    <h1>{{ driver1_name }}</h1>
                  </div>
                  <div class="driver-container">
                    <img src="{{ drivers2_image_dict.ImagePath }}" class="driver-lineup-image">
                    <h1>{{ driver2_name }}</h1>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="standings-container">
          <div class="standings">
            <h2 class="font">Season Performance</h2>
            <table>
                <thead>
                    <tr>
                        <th>ROUND</th>
                        <th>RACE</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in team_form_dict %}
                    <tr>
                        <td>{{ entry['Round'] }}</td>
                        <td>{{ entry['RaceName'] }}</td>
                        <td>{{ entry['Points'] }}</td>
                    </tr>
                    {% endfor %}
                 </tbody>
             </table>
          </div>
        </div>
        <div class="footer">
          <p>&copy; 2023 Zakariye's Project</p>
        </div> 
      </div>
    </div>
    <script>
      var datetimeString = "{{ next_race_dict.Datetime }}";
  
      var countDownDate = new Date(datetimeString).getTime();
  
      var x = setInterval(function() {
        var now = new Date().getTime();
  
        var timeleft = countDownDate - now;
  
        // time calculations for days, hours, minutes, and seconds
        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
  
        document.getElementById("countdown2").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
        if (timeleft < 0) {
          clearInterval(x);
          document.getElementById("countdown2").innerHTML = "";
        }
      }, 1000);
    </script>
    <script>
      const currentPagePath = window.location.pathname;
    
      const racesNavItems = document.querySelectorAll(".nav-races");
      const driversNavItems = document.querySelectorAll(".nav-drivers");
      const teamsNavItems = document.querySelectorAll(".nav-teams");
    
      // check if the current page matches each navigation item and add the "active" class
      if (currentPagePath.startsWith("/races")) {
        racesNavItems.forEach((item) => {
          item.classList.add("active");
        });
      } else if (currentPagePath.startsWith("/drivers")) {
        driversNavItems.forEach((item) => {
          item.classList.add("active");
        });
      } else if (currentPagePath.startsWith("/teams")) {
        teamsNavItems.forEach((item) => {
          item.classList.add("active");
        });
      }
    </script>  
    <script src="../static/js/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>